body {
	font-family: Roboto, Arial;
	height: 100vh;
	margin: 0;
    background-image: linear-gradient(180deg, white, palevioletred);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: url('cursor.png'), auto; */
}
button:hover {
	cursor: pointer;
}